{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
RELEASED ITEM FORM
{% endblock title %}


{% block content %}
<div class="container">
<div class="card card-body mt-5 mb-5 pb-4 shadow fade show">

  <div class="container mt-3">

    <form class="form-horizontal" method="POST" action="">
    {% csrf_token %}
    {{ formset.management_form }}

    <div class="get-item-title mb-5"><center><h3>HR RELEASED FORM</h3></center></div>

    <div class="border px-3 pb-3 pt-2">

      <div class="row">

        {% for form in formset %}
        
        <div class="col">
          {{ form.employee_id.label_tag }}
          {{ form.employee_id}}
        </div>
        <div class="col">
          
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p></p>
          {{ form.last_name.label_tag }}
          {{ form.last_name }}
        </div>
        <div class="col">
          <p></p>
          {{ form.first_name.label_tag }}
          {{ form.first_name }}
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <p></p>
          {{ form.client.label_tag }}
          {{ form.client }}
        </div>
        <div class="col">
          <p></p>
          {{ form.department.label_tag }}
          {{ form.department }}
        </div>
      </div>
    </div>

        {% endfor %}
      
        <br>
        <br>  
      
      <div class="row">
        <div class="col">
          <h4><i>I have received the following from the HR Department: </i></h4>
        </div>
      </div> 

      <div class="row">
          <table class="table table-bordered table-hover mt-4">
              <thead>
                <tr>           
                  <th scope="col" style="width:50%">DESCRIPTION</th>
                  <th scope="col">OTHERS</th>
                  <th scope="col"></th>
              </tr>
              </thead>
              <tbody class="form-row spacer">
                  {% for item in formset %}
                  <tr> 
                  
                    <td>{{ item.component}}</td>
                    <td>{{ item.others }}</td>
                    
                    <td><center><button type="button" class="btn btn-success add-form-row">+</button></center></td>
                    
                  </tr>
                  
                  {% endfor %}
                  
              </tbody>
          </table>
      </div> 

      
      <button type="submit" class="btn btn-success" id="submitbtnget">
        <span class="spinner-border spinner-border-sm" id="spinner" role="status" aria-hidden="true"></span> 
        SUBMIT
      </button>

    </form>
  </div>
</div>
</div>


<!-- Call the script for the formset -->
{% include 'receiving_app/form_script.html' %}

<!-- Call the script for the load others -->
{% include 'receiving_app/others_load_script.html' %}

{% endblock %}