<!-- Search -->
<div class="modal" id="search" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">SEARCH</h5>
        </div>
        <div class="modal-body">
          
            <form action="" method="get" class="form-control-sm">

                {{ records_Filter.form }}

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
                    <button class="btn btn-primary" type="submit">SEARCH</button>
                </div>
            </form>
      </div>
    </div>
  </div>
</div>