
<!-- Search Modal -->
<div class="modal fade bd-example-modal-md" id="search" role="dialog" tabindex="-1" aria-labelledby="searchLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="searchLabel">FILTER BY</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form action="" method="get" class="form">
                  <!-- Form Fields with spacing -->
                  <div class="form-group">
                    <div class="mb-3">
                        {{ records_Filter.form.employee_id.label_tag }} &nbsp; &nbsp;
                        {{ records_Filter.form.employee_id }}
                    </div>
                    <div class="mb-3">
                        {{ records_Filter.form.last_name.label_tag }} &nbsp; &nbsp; &nbsp; 
                        {{ records_Filter.form.last_name }}
                    </div>
                    <div class="mb-3">
                        {{ records_Filter.form.first_name.label_tag }} &nbsp; &nbsp; &nbsp;
                        {{ records_Filter.form.first_name }}
                    </div>
                    <div class="mb-3">
                      {{ records_Filter.form.client.label_tag }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                      {{ records_Filter.form.client }}
                    </div>
                    <div class="mb-3">
                      {{ records_Filter.form.department.label_tag }} &nbsp; &nbsp;
                      {{ records_Filter.form.department }}
                    </div>
                    <div class="mb-3">
                      {{ records_Filter.form.component.label_tag }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                      {{ records_Filter.form.component }}
                    </div>
                    <div class="col mb-3">
                      {{ records_Filter.form.date_from.label_tag }} &nbsp; &nbsp; &nbsp;
                      {{ records_Filter.form.date_from }}
                    </div>
                    <div class="col mb-3">
                      {{ records_Filter.form.date_to.label_tag }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                      {{ records_Filter.form.date_to }}
                    </div>
                </div>
                  <!-- Add more fields as necessary -->
                  <div class="d-flex justify-content-end mt-3">
                      <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">CANCEL</button>
                      <button class="btn btn-primary" type="submit">SEARCH</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
