{% extends 'base.html'  %}

{% block title %}
RECEIPT LOGS
{% endblock title %}

{% load crispy_forms_tags %}


{% block content %}




<div class="card card-body mt-3 mb-5 shadow fade show">
<table class="table table-bordered table-hover table-striped">
  <center><h3 class="ititles">RECEIPT LOGS</h3></center>
    <thead class="table-primary">
      <tr>
        <th scope="col">EMPLOYEE ID</th>
        <th scope="col">LAST NAME</th>
        <th scope="col">FIRST NAME</th>
        <th scope="col">CLIENT</th>
        <th scope="col">DEPARTMENT</th>
        <th scope="col">RECEIVED</th>

      </tr>
    </thead>
    <tbody>
      {% for record in records %}
      <tr>
        <td>{{ record.employee_id }}</td>
        <td>{{ record.last_name }}</td>
        <td>{{ record.first_name }}</td>
        <td>{{ record.client }}</td>
        <td>{{ record.department }}</td>
        <td>{{ record.component }}</td>
        
          <center>
              <button type="submit" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete{{ item.id }}"><i class="fa-solid fa-trash"></i></button>
          </center>


        </td>
      </tr>

      {% endfor %}
      
      <!-- <tr>
        <td colspan="5" ><center><strong>GRAND TOTAL</strong></center></td>
        <td class="text-right"><strong>{{ total_value | floatformat:2 }}</strong></td>
        <td></td>
        <td></td>
      </tr> -->

        <td colspan="4" ><center><strong>TOTAL QUANTITY</strong></center></td>
        <td class="text-right"><strong>{{ total_soh }}</strong></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

    </tbody>
  </table>
</div>
</div>


{% endblock content %}