{% extends 'base.html'  %}

{% block title %}
RECEIPT LOGS
{% endblock title %}

{% load crispy_forms_tags %}

{% load sorting_tags %}

{% block content %}


<button class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#search" id="filterBtn"><i class="fa-solid fa-filter"></i> FILTER</button>

{% include 'receiving_app/modal_search.html' %}

<a href="{% url 'export_excel_record' %}"><button class="btn btn-primary mt-3 ms-2"><i class="fa-solid fa-file-export"></i> EXPORT XLS</button></a>



<div class="card card-body mt-3 mb-5 shadow fade show">
<table class="table table-bordered table-hover table-striped">
  <center><h3 class="ititles">RELEASED SUMMARY REPORT</h3></center>
    <thead class="table-primary">
      <tr>
        <th scope="col">{% anchor employee_id _("EMPLOYEE ID") %}</th>
        <th scope="col">{% anchor last_name _("LAST NAME") %}</th>
        <th scope="col">{% anchor first_name _("FIRST NAME") %}</th>
        <th scope="col">{% anchor client _("CLIENT") %}</th>
        <th scope="col">{% anchor department _("DEPARTMENT") %}</th>
        <th scope="col">{% anchor component _("RECEIVED") %}</th>
        <th scope="col">{% anchor others _("OTHERS") %}</th>
        <th scope="col">{% anchor date _("DATE") %}</th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
      {% autosort records as sorted_items %}
      {% for record in sorted_items %}
      <tr>
        <td>{{ record.employee_id }}</td>
        <td>{{ record.last_name }}</td>
        <td>{{ record.first_name }}</td>
        <td>{{ record.client }}</td>
        <td>{{ record.department }}</td>
        <td>{{ record.component }}</td>     
        <td>{{ record.others }}</td> 
        <td>{{ record.date }}</td>      

        <td>
          <center>
              <button type="submit" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete{{ record.id }}"><i class="fa-solid fa-trash"></i></button>
          </center>

          {% include 'receiving_app/modal_delete.html' %}

        </td>
      </tr>
      {% empty %}
      <tr>
        <td>No Available Data Found</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      {% endfor %}
      
    </tbody>
  </table>
</div>



{% endblock content %}